* {
  box-sizing: border-box;
}

:root {
  /* Color button  */
  --primary-color-black-green: #143c3c;

  /* Color heading  */
  --primary-color-black: #152427;

  /* Desc color  */
  --text-color-light-gray: #7d8188;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}

/* Common  */
.section-subtitle {
  color: var(--Primary-color-black, #152427);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.63;
}

.section-subtitle::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: var(--Primary-color-black, #152427);
  /* margin-right: 21px; */
  margin: 8px 21px 8px 0;
}

.section-heading {
  margin-top: 12px;
  color: var(--Primary-color-black, #152427);
  font-family: Poppins;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
}

.section-heading::after {
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: var(--Primary-color-black, #152427);
  margin: 10px 19px 10px 6px;
}

.btn {
  display: inline-block;
  min-width: 173px;
  height: 57px;
  border-radius: 40px;
  text-align: center;
  align-content: center;
  background-color: var(--primary-color-black-green);
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.56;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

a {
  text-decoration: none;
}
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  color: var(--Primary-color-black);
  font-family: Poppins, sans-serif;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
}

.section-desc {
  margin-top: 12px;
  color: var(--text-color-light-gray);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
}

/* Header Top  */
.header-top {
  position: relative;
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.header-action__signup::before {
  z-index: 1;
  content: "";
  display: inline-block;
  position: absolute;
  left: 557px;
  bottom: -13px;
  width: 16px;
  height: 2px;
  background-color: #143c3c;
}

.header-action__signup::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.logo {
  margin-right: 406.22px;
}

.navbar__list {
  display: flex;
  gap: 38px;
}

.header-action {
  margin-left: auto;
}

.navbar__link {
  color: #575d5e;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.navbar__link--active,
.navbar__link:hover {
  color: #152427;
  text-shadow: 1px 0 0 currentColor;
}

/* Header Hero  */
.space-height {
  scroll-margin-top: 90px;
}

.space-height2 {
  scroll-margin-top: 110px;
}

.header-fixed {
  padding-top: 1px;
  padding-bottom: 10px;
  position: sticky;
  top: -20px;
  z-index: 999;
  background-color: #fff;
}

.hero__inner {
  display: flex;
  gap: 76px;
  position: relative;
}

.hero__decor--fl,
.hero__decor-path,
.hero__decor--fl1,
.hero__decor-path1 {
  position: absolute;
}

.hero__decor-path {
  left: 297px;
  top: 41.93px;
}

.hero__decor--fl {
  left: 254.61px;
  top: 49.61px;
  z-index: 99;
}

.hero__decor-path1 {
  top: 343px;
  right: 71.64px;
}

.hero__decor--fl1 {
  top: 575.06px;
  right: 32.12px;
  z-index: 99;
}

.hero__content .hero__heading {
  color: var(--primary-color-black, #152427);
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  padding-right: 50px;
}

.hero__content {
  margin-top: 100px;
}

.hero__desc {
  margin-top: 20px;
  color: var(--text-color-black-gray, #575d5e);
  font-style: normal;
  font-weight: 500;
  line-height: 1.56;
  padding-right: 53px;
}

.hero__row {
  margin-top: 42px;
  display: flex;
  gap: 43px;
}

.hero__media {
  display: flex;
  gap: 20px;
  position: relative;
}

.hero__blur {
  position: absolute;
  top: -85px;
  right: -97px;
  z-index: -999;
}

.hero__images {
  padding-top: 74px;
}

.hero__images img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
  transition: 0.25s;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.hero__media .hero__images:nth-child(2) {
  padding-top: 140px;
}

.watch-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  background-color: #fff;
}

.hero-watch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 43px;
  border-radius: 44px;
  background-color: #83a17d;
}

.watch-btn span {
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.btn-ellipse {
  position: absolute;
  left: -7px;
}

/* Partners  */
.partners {
  margin-top: 125px;
}

.partners__list {
  width: 1140px;
  height: 201px;
  border-radius: 100.5px;
  background-color: #e2eddf;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.partners__item:nth-child(3) a:first-child {
  padding-right: 14px;
}

/* Services  */
.services {
  margin-top: 106px;
}

.servicers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicers__header-left {
  width: 46%;
}

.servicers__header-right {
  display: flex;
  gap: 17px;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(226, 237, 223, 1);
  transition: all 0.5s ease;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(20, 60, 60, 1);
}

.prev-btn:hover .services__btn path,
.next-btn:hover .services__btn path {
  stroke: #fff;
}

.services__list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.servicer__item {
  border-radius: 20px;
  transition: all 0.5s ease;
}

.servicer__item:hover {
  transform: scale(1.01);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.services__item-img {
  width: 370px;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.services__item-title {
  margin-top: 24px;
  padding-left: 15px;
  color: var(--primary-color-black, #152427);
  font-family: Poppins;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.services__item-desc {
  margin-top: 18px;
  padding-right: 103px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: var(--text-color-light-gray, #7d8188);
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
}

/* About  */
.about {
  margin-top: 149px;
}

.about__inner {
  display: flex;
  gap: 64px;
  position: relative;
}

.about__stats-card {
  position: absolute;
  top: 400px;
  left: 464px;
  width: 143px;
  min-height: 144px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
  padding: 19px 23px 9px;
}

.stats-card__title {
  color: var(--primary-color-black, #152427);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.stats-card__subtitle {
  margin-top: 6px;
  color: var(--text-color-black-gray, #575d5e);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.stats-card__progress-text {
  margin-top: 4px;
  color: var(--primary-color-black, #152427);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

.stats-card__progress {
  margin-top: 3px;
  width: 100%;
}

.stats-card__progress-value {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #1c2529;
  margin-bottom: 4px;
}

.stats-card__progress-bar {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
  overflow: hidden;
}

.stats-card__progress-fill {
  height: 100%;
  background-color: #7a9a78;
  border-radius: 3px 0 0 3px;
}

.stats-card__status {
  margin-top: 3px;
  color: var(--primary-color-black, #152427);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: end;
}

.stats-card__team {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}

.stats-card__team-title {
  color: var(--primary-color-black, #152427);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.about__media {
  position: relative;
}

.about__image-group {
  display: flex;
  gap: 21px;
}

.about__fl {
  position: absolute;
  top: -18px;
  left: 46px;
  z-index: 9;
}

.about__path {
  position: absolute;
  top: 13.89px;
  left: 81.77px;
}

.about__image-group img {
  width: 286px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
  box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__image-group img:first-child {
  margin-top: 90px;
}

/* Stats  */
.stats-card__team-avatar {
  display: flex;
}

.mem-avt {
  width: 10px;
  height: 10px;
  border-radius: 16px;
  margin-left: -3px;
  border: 1px solid #fff;
}

.about .section-heading {
  width: 487px;
}

.about .section-heading::after {
  display: none;
}

.about__stat-item {
  margin-top: 36px;
  display: flex;
  gap: 24px;
  align-items: center;
  position: relative;
}

.about__stat-item::after {
  bottom: -20px;
  position: absolute;
  content: " ";
  display: inline-block;
  width: 485px;
  height: 1px;
  background-color: #83a17d;
}

.about__stat-value {
  color: var(--primary-color-black, #152427);
  font-family: Poppins;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
}

.about__stat-text {
  color: var(--text-color-light-gray, #7d8188);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
}

/* Process */
.process {
  margin-top: 115px;
}

.process__header {
  width: 45%;
}
.process__step {
  min-height: 185px;
  border-radius: 33px;
  padding: 53px 41px 21px 0;
  position: relative;
  transition: all 0.5s ease;
}

.process__step:hover {
  background-color: #e2eddf;
}

.process__steps {
  margin-top: 81px;
}

.process__step::after {
  position: absolute;
  bottom: 21px;
  content: " ";
  display: inline-block;
  width: 1131px;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
  transition: all 0.5s ease;
}

.process__step:hover::after {
  content: none;
}

.process__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process__image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: none;
  transition: all 0.5s ease;
}

.process__step:hover .process__image img {
  display: inline-flex;
  position: absolute;
  bottom: -20px;
  right: 50px;
}

.content-middle {
  padding-left: 49px;
}

.process__number {
  width: 10%;
  color: var(--primary-color-black-green, #143c3c);
  font-family: Poppins;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 52px;
  padding-left: 30px;
}

.process__name {
  width: 276px;
  padding-right: 100px;
  padding-top: 16px;
  color: var(--primary-color-black, #152427);
  font-family: Poppins;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.process__link {
  display: inline-block;
  margin-top: 18px;
  color: var(--text-color-black-gray, #575d5e);
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  visibility: hidden;
}

.process__step:hover .process__link {
  visibility: visible;
}

.process__desc {
  width: 52%;
  color: var(--text-color-light-gray, #7d8188);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 28px;
  transition: all 0.5s ease;
}

.process__step:hover .process__desc {
  opacity: 0;
}

/* Projects Preview  */
.project-preview {
  margin-top: 140px;
  background-color: var(--primary-color-black-green, #143c3c);
}

.project-preview__inner {
  padding: 106px 0 63px 0;
}

.project-preview__header {
  display: flex;
  gap: 100px;
}

.project-preview .section-heading {
  width: 42%;
  color: #fff;
}
.project-preview .section-heading::after {
  background: #fff;
}

.project-preview .section-desc {
  padding-top: 5px;
  width: 590px;
  color: #6a8383;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.project-link {
  display: flex;
}

.project-all {
  margin-top: 13px;
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  margin-right: 26px;
}

.next-project {
  margin: 22px 0;
}

.project-link:hover .next-project path {
  stroke: #fff;
}

.project-video {
  margin-top: 45px;
  width: 1140px;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
}

/* Features */
.features {
  margin-top: 140px;
}

.features .section-heading {
  width: 46%;
  text-align: center;
  margin: 0 auto;
}

.features .section-heading::after {
  display: none;
}

.features .section-desc {
  display: inline-block;
  width: 48%;
  text-align: center;
  margin: 20px 300px;
}

.features__list {
  margin-top: 44px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.features__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  padding: 80px 27px 74px;
  transition: all 0.5s ease;
}

.features__item:hover {
  transform: translateY(-30px);
  border-radius: 160px;
  background: #fff;
  border: 1.5px solid #fff;
  box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.2);
}

.features__title {
  margin-top: 26px;
  color: #152427;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.title__desc {
  width: 272px;
  margin-top: 9px;
  color: var(--text-color-light-gray, #7d8188);
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* Blog  */
.blog {
  margin-top: 180px;
}

.blog__header {
  display: flex;
  align-items: center;
}

.blog .section-heading {
  width: 88%;
  margin-right: 200px;
}

.blog__list {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog-card {
  min-height: 509px;
  border-radius: 40px;
}

.blog-card:hover {
  background: var(--text-color-white, #fff);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.blog-card__img {
  width: 360px;
  height: 317px;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
}

.blog .blog-card__btn {
  margin-top: 26px;
  display: inline-block;
  margin-left: 10px;
  min-width: 107px;
  height: 26px;
  border-radius: 40px;
  text-align: center;
  align-content: center;
  background-color: #e2eddf;
  color: var(--primary-color-black-green);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.5s ease;
}

.blog-card:hover .blog-card__btn {
  margin-left: 30px;
}
.blog .blog-card__btn:hover {
  background-color: var(--primary-color-black-green);
  color: #fff;
}

.blog-card__heading {
  padding-left: 5px;
  width: 346px;
  margin-top: 13px;
  color: var(--Primary-color-black-green, #143c3c);
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  transition: all 0.5s ease;
}

.blog-card:hover .blog-card__heading {
  padding-left: 30px;
  padding-right: 49px;
}

.blog-card__heading::after {
  margin-top: 14px;
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background: #c4c4c4;
}

.blog-card__date {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: end;
  display: block;
  margin-left: auto;
  color: var(--text-color-black-gray, #575d5e);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

/* Footer  */
.footer {
  margin-top: 102px;
  padding: 72px 0 96px;
  background-color: var(--primary-color-black-green, #143c3c);
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__inner::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1140px;
  height: 1px;
  left: 0;
  bottom: -45px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
}

.footer__newsletter-title {
  color: var(--text-color-white, #fff);
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: normal;
}

.footer__newsletter-form {
  height: 85px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 6px 0;
  width: 340px;
}

.footer__newsletter-input {
  margin-top: 20px;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: #c4c4c4;
  font-size: 14px;
  font-family: inherit;
  padding: 6px 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-text-fill-color: #c4c4c4;
}

.footer__newsletter-input::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

.footer__newsletter-input:valid,
.footer__newsletter-input:invalid {
  background-color: transparent;
  box-shadow: none;
}

.footer__newsletter-input:-webkit-autofill,
.footer__newsletter-input:-webkit-autofill:hover,
.footer__newsletter-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #c4c4c4;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.footer__newsletter-form button {
  background: none;
  border: none;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer__newsletter-form .send-btn {
  margin-top: 20px;
  display: block;
  width: 20px;
  height: auto;
}

.footer__social {
  margin-top: 64px;
  display: flex;
  gap: 22px;
  align-items: center;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #265252;
}

.footer__social-link:hover {
  border: 1px solid rgba(167, 83, 37, 1);
  background-color: rgba(167, 83, 37, 1);
}

.footer__row {
  display: flex;
  gap: 50px;
}

.footer__link-title {
  color: var(--text-color-white, #fff);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  margin-bottom: 15px;
}

.footer__link-item {
  color: var(--Scondery-color-gray, #6a8383);
  padding-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.25;
}

.footer__link-item:hover {
  text-decoration: underline;
}
